.btn-secondary {
  color: #fff;
  background-color: #868e96;
  border-radius: 45px !important;
  border: 1px solid rgba(134, 142, 150, 0.75);
}

.btn-info {
  color: #fff !important;
  background-color: #ff7b74 !important;
  border-radius: 45px !important;
  border-color: #ff7b74 !important;
  float: right;
  border: 1px solid rgba(23, 162, 184, 0.75);
}
.input-group {
  flex-wrap: nowrap !important;
}
.input-group-text {
  display: unset !important;
  border-radius: 0 !important;
  font-size: 1.3rem !important;
}
.recipeImage {
  height: 25rem;
}

h2.ribbon {
  background: #ff7b74;
  padding: 0 !important;
  width: 189px;
  height: 44px;
  text-align: center;
  font-size: 16px;
  line-height: 40px;
  font-weight: 700;
  color: #fff !important;
  position: absolute;
  top: 20px;
  left: 35px;
  z-index: 9999;
  display: inline-block;
  overflow: hidden;
  margin: 0 0 30px;
  max-width: 100%;
}

.search {
  background: #ff7b74 !important;
}
.recipe-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.publisher-text {
  color: #dbbc94 !important;
}
.text-search {
  color: #ff7b74 !important;
}
.search-notice {
  font-size: 40px !important;
  line-height: 1.2 !important;
  font-weight: 300 !important;
  margin-top: 8px !important;
  display: inline-block !important;
  width: 100% !important;
}

.s-title {
  font-size: 50px !important;
  line-height: 1.2 !important;
  font-weight: 300 !important;
  margin-top: 8px !important;
  display: inline-block !important;
  width: 100% !important;
}

.button.big {
  font-size: 18px !important;
  font-weight: 700 !important;
  text-transform: none !important;
  border: none !important;
  display: inline-block !important;
  text-decoration: none !important;
  position: relative !important;
  background: #fa6159 !important;
  color: #fff !important;
  text-align: center !important;
  font-size: 13px !important;
  font-weight: 700 !important;
  padding: 11px 14px !important;
  min-width: 80px !important;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  border-radius: 3px !important;
  float: right !important;
}

.button:hover,
.button:focus {
  background: #f4716a;
  -webkit-box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.2);
}

.list-group-item {
  padding: 0.2rem 1.3rem !important;
}

.intro .wrap {
  margin-top: 180px;
}

.text {
  color: #fff;
}
.text a {
  color: #fff;
  text-decoration: underline;
}
.text a:hover {
  text-decoration: none;
}
.text h1 {
  font-size: 50px;
  line-height: 1.2;
  font-weight: 300;
  padding: 0 0 62px;
  -webkit-text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.text p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  padding: 0 0 23px;
  max-width: 85%;
  -webkit-text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  -moz-text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.text .more {
  margin: 40px 0 65px;
}

.intro .widget h3 {
  padding: 3px 0 16px;
  font-size: 16px;
}
.intro .widget p {
  color: #666;
  font-size: 14px;
  padding: 0 0 18px;
}
.textwrap {
  padding: 0 !important;
}
.intro .f-row {
  padding: 3px 0 7px !important;
}
.intro .bwrap {
  padding: 13px 0 20px !important;
}

.icons {
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 1);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 1);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 1);
}
.icons .s-title {
  text-align: center;
}
.icons .ribbon {
  margin: 0 auto 25px;
}
.icons .container {
  text-align: center;
  padding: 30px 20px 22px;
}
.icons span {
  float: left;
  width: 100%;
}
.icons .title {
  font-size: 32px;
  font-weight: 800;
  color: #f5716a;
  margin: 10px 0 -2px;
}
.icons .subtitle {
  font-size: 17px;
  font-weight: 700;
  color: #777;
}
.cta {
  float: left;
  width: 100%;
  text-align: center;
  margin: 0 0 30px;
}
.cta .button {
  min-width: 170px;
}

.featured {
  float: left;
  max-width: 100%;
  position: relative;
}

h2.star {
  background-position: -408px -61px;
  width: 50px;
  height: 60px;
  text-indent: -99999px;
  top: 0;
}
h2.bright {
  background-position: 0 -60px;
  width: 210px;
  height: 45px;
  position: static;
  font-size: 22px;
  line-height: 43px;
  font-weight: 600;
  margin: 0 0 26px;
}
h2.large {
  background-position: 0 0;
  width: 572px;
  height: 58px;
  position: static;
  font-size: 27px;
  line-height: 56px;
  font-weight: 600;
  max-width: 100%;
}

.entry h2 {
  padding-top: 0;
  color: #666;
}
.entry h2 a {
  color: #666;
}
.entry h2 a:hover {
  color: #f4716a;
}

.recipe-title {
  font-size: 17px;
  font-weight: 600;
  padding: 0 0 17px;
  text-decoration: none;
  color: #454545;
}
.recipe-title:hover {
  color: rgb(189, 73, 31);
}
.entry h2 a {
  color: #666;
  text-decoration: none;
}

.arrow {
  cursor: pointer !important;
  display: inline-block !important;
  height: 40px !important;
  margin-left: 40px !important;
  margin-right: 40px !important;
  position: relative !important;
  line-height: 2.5em !important;
  padding-left: 1em !important;
  padding-right: 2em !important;
  background: white !important;
  color: black !important;
}

.arrow:after {
  content: '' !important;
  position: absolute !important;
  border-bottom: 20px solid transparent !important;
  border-top: 20px solid transparent !important;
  height: 0px !important;
  width: 0px !important;
  margin-right: 5.6rem !important;
  right: 0 !important;
}

.arrow:after {
  border-right: 20px solid white !important;
}

.back-button {
  border-radius: unset !important;
  border-top-left-radius: 50% !important;
  border-bottom-left-radius: 50% !important;
  background: #f4716a !important;
  border-color: #f4716a !important;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.publish-text {
  font-style: italic;
  font-size: 0.9rem;
  color: #ff7b74;
}
.publish-text:hover {
  color: #ff7b74;
}

.suggested {
  list-style: none;
  padding-right: 1rem;
  /* border-bottom: 1px solid #ccc; */
  box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.5);
  margin-bottom: 2px;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 3px;
  display: inline;
}

.suggested:hover {
  color: #ff7b74;
}

.ulSuggested {
  margin: 0 auto;
  padding: 0;
  max-height: 200px;
  /* position: absolute; */
  z-index: auto;
  float: left;
  /* overflow-y: auto; */
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px 5px 0 5px;
  /* border-left: none; */
  /* border-right: none; */
  border: none;
}

.ulSuggested > .suggested:before {
  content: '\2022';
  font-size: 30px;
  color: transparent;
  position: absolute;
  top: -10px;
  left: 0;
}

/* .recipe-list {
  position: absolute;
}

.input-search {
  position: absolute;
} */
/* body {
  font: 14px/1.42 'Raleway', Arial, Helvetica, sans-serif;
  text-align: center;
  color: #444;
  background: #deceb9 url(../images/bgr/body.jpg) 0 0 repeat;
  overflow-x: hidden;
  word-wrap: break-word;
  text-rendering: optimizeLegibility;
} */

/*LAYOUT*/
.head {
  float: left;
  width: 100%;
  position: relative;
  z-index: 2;
  height: 90px;
}
.home .head {
  position: absolute;
}
.head .wrap {
  height: 100%;
  background: #fff;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  display: inline-block;
}
.main {
  float: left;
  width: 100%;
  display: block;
  min-height: 500px;
  padding: 45px 0 120px;
}
.foot {
  float: left;
  width: 100%;
}
.wrap {
  margin: 0 auto;
  width: 1170px;
  text-align: left;
  position: relative;
  max-width: 96%;
}

.row {
  margin: 0 -15px;
}

::-moz-selection {
  background: #fff;
  color: #f4716a;
  -webkit-text-shadow: none;
  -moz-text-shadow: none;
  text-shadow: none;
}
::selection {
  background: #fff;
  color: #f4716a;
  -webkit-text-shadow: none;
  -moz-text-shadow: none;
  text-shadow: none;
}

/*TYPOGRAPHY*/
h1 {
  font-size: 29px;
  font-weight: 400;
  padding: 0 0 12px;
  margin: 0;
}
h2 {
  font-size: 25px;
  font-weight: 400;
  padding: 8px 0 13px;
}
h3 {
  font-size: 21px;
  font-weight: 700;
  padding: 13px 0 18px;
}
h4 {
  font-size: 18px;
  font-weight: 500;
  padding: 18px 0;
}
h5 {
  font-size: 15px;
  font-weight: 500;
  padding: 20px 0 19px;
}
h6 {
  font-size: 14px;
  font-weight: 600;
  padding: 20px 0;
}

p {
  padding: 0 0 18px;
  line-height: 1.6;
}
p:empty {
  display: none;
}
.lead {
  font-size: 17px;
  font-weight: 500;
}
strong {
  font-weight: 700;
}
em {
  font-weight: 700;
  font-style: normal;
  color: #ff7a73;
}

ul {
  margin: 0 0 20px;
}
ul > li {
  list-style: none;
  position: relative;
  padding: 0 0 10px 15px;
}
ul > li:before {
  content: '\2022';
  font-size: 30px;
  color: #dbbc94;
  position: absolute;
  top: -10px;
  left: 0;
}
ul ul {
  margin: 10px 0 -10px 2px;
}
ul ul li:before {
  content: '\00af';
  font-size: 25px;
  top: 0;
  left: -2px;
}
ol {
  margin: 0 0 20px 25px;
}
ol li {
  list-style: decimal outside;
  padding: 0 0 10px 5px;
}
ol ol {
  margin: 10px 0 -10px 15px;
}
nav ul {
  margin: 0;
}

nav li,
.widget,
.widget li {
  padding: 0;
}
nav li:before,
.widget:before,
.widget li:before,
.boxed li:before {
  display: none;
}

hr {
  border: none;
  border-bottom: 1px solid #ddd;
  padding: 0;
  margin: 0 0 30px;
}

img {
  border: none;
  display: block;
  max-width: 100%;
}
a {
  color: #f4716a;
  outline: none;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
a:hover,
a:focus,
.post h2 a:hover {
  color: #f4716a;
}
nav a:hover,
.button:hover,
.generic-button a:hover,
.quicklinks .button:hover {
  text-decoration: none;
}

/*HEADER*/
.logo {
  float: left;
  display: block;
  margin: 22px 50px 23px 20px;
  position: relative;
  z-index: 99999;
}

.main-nav {
  float: right;
}
@media (min-width: 300px) and (max-width: 800px) {
  .main-nav {
    float: unset !important;
    text-align: center !important;
    margin-right: unset !important;
  }
}
.main-nav ul {
  position: relative;
  display: inline-table;
  z-index: 9999;
}
.main-nav li {
  float: left;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
}
.main-nav li a {
  color: #444;
  float: left;
  height: 90px;
  line-height: 90px;
  -webkit-transition: color 0.2s ease-in;
  -moz-transition: color 0.2s ease-in;
  -o-transition: color 0.2s ease-in;
  -ms-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
.main-nav li a span {
  float: left;
  line-height: normal;
  margin: 28px 0 29px;
  padding: 8px 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.main-nav li:hover a,
.main-nav .current-menu-item a {
  color: #fff;
}
.main-nav li:hover span,
.main-nav .current-menu-item span {
  background: #ff7b74;
  color: #fff;
}
.main-nav ul ul {
  display: none;
  width: 150px;
  margin-left: -30px;
  position: absolute;
  top: 100%;
  padding: 0 15px 10px;
  background: #fff;
  border-top: 3px solid #ff7b74;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15), 0 0 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15), 0 0 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15), 0 0 3px rgba(0, 0, 0, 0.15);
}
.main-nav ul ul:after {
  content: '';
  position: absolute;
  top: -11px;
  left: 43%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent #ff7b74 transparent;
}
.main-nav ul ul li {
  float: none;
  position: relative;
  background: none;
  text-transform: none;
}
.main-nav ul ul li a {
  height: auto;
  line-height: normal;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  color: #666;
  width: 100%;
}
.main-nav ul ul li span {
  padding: 0;
  background: none !important;
  margin: 0;
  color: #666 !important;
}
.main-nav ul ul li:last-child a {
  border-bottom: none;
  padding-bottom: 0;
}
.main-nav ul ul ul {
  position: absolute;
  left: 100%;
  top: -3px;
  margin-left: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.main-nav ul ul ul li a {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}
.main-nav ul ul ul:after {
  display: none;
}
.main-nav li:hover > ul {
  display: block;
}
.main-nav li:hover ul a,
.main-nav ul ul li:hover ul a,
.main-nav .current-menu-item ul a,
.main-nav .current-menu-item ul ul a {
  color: #444 !important;
}
.main-nav ul ul li:hover a,
.main-nav ul ul li:hover span,
.main-nav ul ul li:hover ul a:hover,
.main-nav ul ul .current-menu-item a {
  color: #f4716a !important;
}

.user-nav {
  float: right;
  width: 270px;
  position: absolute;
  top: 0;
  right: 0;
}
.user-nav li {
  float: right;
  width: 90px;
  height: 90px;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  overflow: hidden;
}
.user-nav li a {
  color: #fff;
  float: left;
  width: 100%;
  height: 100%;
}
.user-nav .light a {
  background: #ff8e88;
}
.user-nav .medium a {
  background: #ff7b74;
}
.user-nav .dark a {
  background: #f4716a;
}
.user-nav li span {
  float: left;
  width: 100%;
  padding: 10px 10px 0;
}
.user-nav li:hover a,
.user-nav .current-menu-item a {
  background: #fff;
}
.user-nav .light.current-menu-item a,
.user-nav .light:hover a {
  color: #ff8e88;
}
.user-nav .medium.current-menu-item a,
.user-nav .medium:hover a {
  color: #ff7b74;
}
.user-nav .dark.current-menu-item a,
.user-nav .dark:hover a {
  color: #f4716a;
}

.head select {
  background: none;
  border: 1px solid #ddd;
  padding: 10px;
  height: 40px;
  width: 100%;
  color: #444;
  display: none;
}

.slicknav_menu {
  display: none;
}

.container {
  width: 100%;
  padding: 17px 20px 0;
  background: #fff;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}
.container p {
  color: #666;
}

.entry .container {
  width: 100%;
}

/*BUTTONS*/
.button {
  border: none;
  display: inline-block;
  text-decoration: none !important;
  position: relative;
  background: #ff7b74;
  color: #fff !important;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  padding: 11px 14px;
  min-width: 80px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-transform: uppercase;
}
.button:hover,
.button:focus {
  background: #f4716a;
  -webkit-box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.2);
}

.white {
  color: #f4716a !important;
  background: #fff !important;
}
.white:hover,
.white:focus {
  color: #fff !important;
  background: #f4716a !important;
}

.gold {
  background: #dbbc94 !important;
  font-size: 14px;
  font-weight: 600;
  padding: 7px 10px;
}
.gold:hover,
.gold:focus {
  background: #d0b28c !important;
}

.button.more {
  padding: 11px 15px !important;
  min-width: 110px;
  text-align: left !important;
}
.button.more i {
  margin-left: 40px;
}

.button.medium {
  font-size: 16px !important;
  font-weight: 700 !important;
  text-transform: none;
}
.button.big {
  font-size: 18px !important;
  font-weight: 700 !important;
  text-transform: none;
}

.actions {
  display: inline-block;
  width: 100%;
  vertical-align: sub;
  float: right;
  font-size: 13px;
}
.actions > div {
  display: inline-block;
  width: 100%;
  border-top: 1px solid #ddd;
  padding: 15px 0 0;
  margin: 0 0 10px;
}
.post .actions {
  width: 455px;
  padding: 0 20px;
}
.post .actions > div {
  margin: 11px 0 0;
}

/*FOOTER*/
.foot {
  background: #fff;
  color: #666;
}

/*OTHER ELEMENTS*/

@media (max-width: 800px) {
  .head {
    position: relative !important;
  }
  .head .wrap {
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 540px) {
  .wrap {
    width: 90%;
  }
  .head {
    height: 180px;
  }
  .logo {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    text-align: center;
  }
  .logo img {
    margin: 0 auto;
  }
  .slicknav_btn {
    top: 90px;
    left: 0;
    right: auto;
  }
  .slicknav_nav {
    top: 180px;
  }
}
